force-app/main/default/flows/Process_Charity_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CalculateAmountToCharity</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalAmountWithTax * 0.01}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Process Charity Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Charity Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Order_Summary_Match_Customer_Donation</name>
        <label>Order Summary Match Customer Donation</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Amount_To_Charity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Match_Customer_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReferenceEntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Amount_To_Charity</name>
        <label>Set Amount To Charity</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Amount_To_Charity__c</field>
            <value>
                <elementReference>CalculateAmountToCharity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Balance</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Invoice</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>OneMinuteAfterLastModifiedDate</name>
            <connector>
                <targetReference>Order_Summary_Match_Customer_Donation</targetReference>
            </connector>
            <label>OneMinuteAfterLastModifiedDate</label>
            <maxBatchSize>100</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
