force-app/main/default/flows/Send_email_for_Require_Immediate_Attetion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Require_Immediate_Attention_Email</name>
        <label>Require Immediate Attention Email</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jhonny.marcelo@osf.digital</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>The flowing order Require Your Immediate Attetion</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Email_Body_Values</name>
        <label>Set Email Body Values</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>Email_Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Dear employee the fulfilment Order Number:   </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Body</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.FulfillmentOrder.FulfillmentOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email_Body</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> require your immediate attention</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Require_Immediate_Attention_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_is_Require_Immediate_Attention</name>
        <label>Status is Require Immediate Attention</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Require Immediate attention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Email_Body_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send email for Require Immediate Attetion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email for Require Immediate Attetion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_is_Require_Immediate_Attention</targetReference>
        </connector>
        <object>FOStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Email_Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
